{% extends('base.html.twig.') %}


{% block body %}
    <h1>Welcome {{ dump(family) }} </h1>
    <h2>List All characters </h2>
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        </thead>
        <tbody>
        {% for character in family.characters %}
            <tr>

                <td>{{ char.id }}</td>
                <td>{{ char.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}